.header {
  padding: 20px 32px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
  font-weight: 600;

  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navList {
  display: flex;
  gap: 30px;
}

.cart {
  position: absolute;
  top: -5px;

  padding: 0 5px;

  font-size: 12px;

  color: red;
  background-color: yellow;
  border-radius: 50%;
}
