.list {
  margin: 0  auto;
  padding: 15px;

  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: scroll;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 20px;
}